
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .mycenter{
    display: -ms-inline-grid;
    flex-wrap: wrap;
    align-content: center;
}
.mydelivary{
    text-align: center;
    
  }
  .row{
    margin-right:0;
  }

  /* button center */
  .mycenter { 
    /* height: 200px; */
    position: relative;
    /* border: 3px solid green;  */
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    border-radius: 40%;
    width: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #6C63FF;
  }
  .mycontainer{
    width: 100%;
    padding-top: 2rem;
    padding-right: 20rem;
    padding-left:25rem;
  }
  /* .body{
    overflow: hidden;
  } */

  .alert{
    background-color: rgb(51, 163, 51);
    padding: 20px 40px;
    min-width: 420px;
    position:absolute;
    /* overflow: hidden; */
    right: 0px;
    top: 10px;
    border-radius: 10px;
    border-left: 10px solid green;
  }
  .alert.show{
    animation: show_slide 1.5s  forwards;
    animation-duration: 3s;
  }
  @keyframes show_slide{
     0%{
       transform: translateX(100%);
     }
     40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
  }
  

  .alert.hide{
    display: none;
  }
  
  .alert.fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(154, 211, 69);
    font-size: 30px;
  }
  .alert.msg{
    padding: 0px 20px;
    font-size: 18px;
    color: rgb(0, 255, 47);
  }
  .alert.close-btn{
    position:absolute;
    right:0px;
    top:50%;
    transform:translateY(-50%);
    background:rgb(53, 101, 4);
    padding:20px 18px;
    cursor:pointer;
  }
  .close-btn:hover{
    background: rgb(1, 51, 1);
  }

  .close-btn.fa-times{
    color: rgb(6, 7, 4);
    font-size: 22px;
    line-height: 22px;
  }
